#head p:nth-child(1) {
    animation: p1 236s linear;
    -webkit-animation:p1 236s linear   ;
    margin-top: 40px;
}
#head p:nth-child(2) {
    animation: p2 236s linear  ;
    -webkit-animation:p2 236s linear   ;
}
#head p:nth-child(3) {
    animation: p3 236s linear  ;
    -webkit-animation:p3 236s linear   ;
}
#head p:nth-child(4) {
    animation: p4 236s linear  ;
    -webkit-animation:p4 236s linear   ;
}
#head p:nth-child(5) {
    animation: p5 236s linear  ;
    -webkit-animation:p5 236s linear   ;
}
#head p:nth-child(6) {
    animation: p6 236s linear  ;
    -webkit-animation:p6 236s linear   ;
}
#head p:nth-child(7) {
    animation: p7 236s linear  ;
    -webkit-animation:p7 236s linear   ;
}
#head p:nth-child(8) {
    animation: p8 236s linear  ;
    -webkit-animation:p8 236s linear   ;
}
#head p:nth-child(9) {
    animation: p9 236s linear  ;
    -webkit-animation:p9 236s linear   ;
}
#first .ball {
    animation: firstball 236s linear  ;
    -webkit-animation:firstball 236s linear   ;
}
#first .nav {
    animation: firstnav 236s linear  ;
    -webkit-animation: firstnav 236s linear  ;
}
#textbox1 {

    width: 0;
    height: 0;
    background: rgba(255,255,255,0.6);
    border-radius: 8px;
    position: absolute;
    left: 30%;
    top: -20px;
    overflow: hidden;
    font-family: Microsoft YaHei;
    animation: first_textbox1 236s linear  ;
    -webkit-animation: first_textbox1 236s linear   ;
}
#first .flag {
    animation: first_flag 236s linear  ;
    -webkit-animation: first_flag 236s linear  ;
}
#textbox1 span:nth-child(1) {

    font-size: 30px;
    font-family: Microsoft YaHei;
    animation: first_span1 236s linear  ;
    -webkit-animation: first_span1 236s linear  ;
}
#textbox1 span:nth-child(2) {

    font-size: 25px;
    animation: first_span2 236s linear  ;
    -webkit-animation: first_span2 236s linear  ;

}
#textbox1 span:nth-child(3) {

    font-size: 25px;
    animation: first_span3 236s linear  ;
    -webkit-animation: first_span3 236s linear  ;

}
#textbox1 span:nth-child(4) {
    font-size: 25px;
    animation: first_span4 236s linear  ;
    -webkit-animation: first_span4 236s linear  ;

}
#textbox1 span:nth-child(5) {
    font-size: 25px;
    animation: first_span5 236s linear  ;
    -webkit-animation: first_span5 236s linear  ;

}
#second .ball {
    animation: secondball 236s linear  ;
    -webkit-animation:secondball 236s linear   ;
}
#second .nav {
    animation: secondnav 236s linear  ;
    -webkit-animation:secondnav 236s linear   ;
}
#textbox2 {
    width: 0;
    height: 0;
    background: rgba(255,255,255,0.6);
    border-radius: 8px;
    position: absolute;
    left: 30%;
    top: -20px;
    overflow: hidden;
    font-family: Microsoft YaHei;
    animation: second_textbox2 236s linear  ;
    -webkit-animation: second_textbox2 236s linear   ;
}
#second .flag {
    animation: second_flag 236s linear  ;
    -webkit-animation: second_flag 236s linear  ;
}
#textbox2 span:nth-child(1) {
    font-size: 24px;
    animation: second_span1 236s linear  ;
    -webkit-animation: second_span1 236s linear  ;
}
#textbox2 span:nth-child(2) {
    animation: second_span2 236s linear  ;
    -webkit-animation: second_span2 236s linear  ;
}#textbox2 span:nth-child(3) {
     animation: second_span3 236s linear  ;
     -webkit-animation: second_span3 236s linear  ;
 }
#textbox2 span:nth-child(4) {
    animation: second_span 236s linear  ;
    -webkit-animation: second_span4 236s linear  ;
}
#textbox2 span:nth-child(5) {
    animation: second_span5 236s linear  ;
    -webkit-animation: second_span5 236s linear  ;
}
#textbox2 span:nth-child(6) {
    animation: second_span6 236s linear  ;
    -webkit-animation:second_span6  236s linear  ;
}
#textbox2 span:nth-child(7) {
    animation: second_span7 236s linear  ;
    -webkit-animation: second_span7 236s linear  ;
}
#textbox2 span:nth-child(8) {
    animation: second_span8 236s linear  ;
    -webkit-animation: second_span8 236s linear  ;
}
#textbox2 span:nth-child(9) {
    animation: second_span9 236s linear  ;
    -webkit-animation: second_span9 236s linear  ;
}
#textbox2 span:nth-child(10) {
    animation: second_span10 236s linear  ;
    -webkit-animation: second_span10 236s linear  ;
}
#textbox2 span:nth-child(11) {
    animation: second_span11 236s linear  ;
    -webkit-animation: second_span11 236s linear  ;
}
#textbox2 span:nth-child(12) {
    animation: second_span12 236s linear  ;
    -webkit-animation: second_span12 236s linear  ;
}
#textbox2 span:nth-child(13) {
    animation: second_span13 236s linear  ;
    -webkit-animation: second_span13 236s linear  ;
}
#textbox2 span:nth-child(14) {
    animation: second_span14 236s linear  ;
    -webkit-animation: second_span14 236s linear  ;
}
#textbox2 span:nth-child(15) {
    animation: second_span15 236s linear  ;
    -webkit-animation: second_span15 236s linear  ;
}
#textbox2 span:nth-child(16) {
    animation: second_span16 236s linear  ;
    -webkit-animation: second_span16 236s linear  ;
}
#textbox2 span:nth-child(17) {
    animation: second_span17 236s linear  ;
    -webkit-animation: second_span17 236s linear  ;
}
#textbox2 span:nth-child(18) {
    animation: second_span18 236s linear  ;
    -webkit-animation: second_span18 236s linear  ;
}

#third {
    width: 100%;
    height:100%;
    position: absolute;
}
#third #wqc_textbox3 {
    width: 87%;

    height: 0;

    position: absolute;

    font-size: 13px;

    top: -10px;

    left: 7.5%;

    background: #ee9ca7;

    color: brown;

    font-family:"Microsoft YaHei";

    border-radius: 10px;

    border-style: dashed;
    border-width: 1px;

    border-color: #ee9ca7;
    animation: third_wqc_textbox3 236s ease  ;
    -webkit-animation: third_wqc_textbox3 236s ease  ;
    overflow: hidden;
    z-index: 0;

}
#wqc_textbox3 span {
    display: block;
    padding: 3px 0 0 10px;
}
#fourth {
    width: 100%;
    height:100%;
    position: absolute;
}
#wqc_textbox4 {
    position: absolute;
    top:-50px;
    left:40%;
    width:30px;
    height:30px;
    overflow: hidden;
    background: hotpink;

    border-radius: 10px;
    animation: fourth_wqc_textbox4 236s ease  ;
    -webkit-animation: fourth_wqc_textbox4 236s ease  ;

}
#wqc_textbox4 span {
    display: block;
    opacity: 0;
    color:darkred;
    padding: 10px 0 5px 30px;
    text-align: left;
}
#wqc_textbox4 span:nth-child(1) {
    padding: 0 0 5px 0;
    font-size: 30px;
    animation: fourth_wqc_span1 236s ease  ;
    -webkit-animation: fourth_wqc_span1 236s ease  ;
}
#wqc_textbox4 span:nth-child(2) {
    animation: fourth_wqc_span2 236s ease  ;
    -webkit-animation: fourth_wqc_span2 236s ease  ;
}
#wqc_textbox4 span:nth-child(3) {
    animation: fourth_wqc_span3 236s ease  ;
    -webkit-animation: fourth_wqc_span3 236s ease  ;
}
#wqc_textbox4 span:nth-child(4) {
    animation: fourth_wqc_span4 236s ease  ;
    -webkit-animation: fourth_wqc_span4 236s ease  ;
}
#wqc_textbox4 span:nth-child(5) {
    animation: fourth_wqc_span5 236s ease  ;
    -webkit-animation: fourth_wqc_span5 236s ease  ;
}
#wqc_textbox4 span:nth-child(6) {
    animation: fourth_wqc_span6 236s ease  ;
    -webkit-animation: fourth_wqc_span6 236s ease  ;
}
#wqc_textbox4 span:nth-child(7) {
    animation: fourth_wqc_span7 236s ease  ;
    -webkit-animation: fourth_wqc_span7 236s ease  ;
}
#wqc_textbox4 span:nth-child(8) {
    animation: fourth_wqc_span8 236s ease  ;
    -webkit-animation: fourth_wqc_span8 236s ease  ;
}
#wqc_textbox4 span:nth-child(9) {
    animation: fourth_wqc_span9 236s ease  ;
    -webkit-animation: fourth_wqc_span9 236s ease  ;
}
#wqc_textbox4 span:nth-child(10) {
    animation: fourth_wqc_span10 236s ease  ;
    -webkit-animation: fourth_wqc_span10 236s ease  ;
}
#fifth {
    width: 100%;
    height:100%;
    position: absolute;
}
#fifth .ball {
    animation: fifth_wqc_ball 236s ease  ;
    -webkit-animation: fifth_wqc_ball 236s ease  ;
}
#fifth .nav {
    animation: fifth_wqc_nav 236s ease  ;
    -webkit-animation: fifth_wqc_nav 236s ease  ;
}
#fifth .flag {
    animation: fifth_wqc_flag 236s ease  ;
    -webkit-animation: fifth_wqc_flag 236s ease  ;
    border-right: 22px solid cyan;
}
#fifth #wqc_textbox5 {

    animation: fifth_wqc_textbox5 236s ease  ;
    -webkit-animation: fifth_wqc_textbox5 236s ease  ;
    position: absolute;
    top: -10%;
    left: 30%;
    color: cyan;
    width: 0;
    height: 0;
    font-size: 18px;
    background: blueviolet;
    border-radius: 15px;
    overflow: hidden;
}
#wqc_textbox5 span {
    display: block;
    padding: 10px 0 0 5px;
    text-align: center;
    opacity: 0;
    animation: fifth_wqc_span 236s linear  ;
    -webkit-animation: fifth_wqc_span 236s linear  ;
}
#wqc_textbox5 span:nth-child(1) {
    font-size: 25px;
    text-align: left;
    padding: 0 0 0 5px;
}
#wqc_sixth {
    width: 100%;
    height:100%;
    position: absolute;
}
#wqc_sixth .flag {
    animation: sixth_wqc_flag 236s ease  ;
    -webkit-animation: sixth_wqc_flag 236s ease  ;
    border-right: 22px solid cyan;
}
#wqc_sixth #wqc_textbox6 {
    animation: sixth_wqc_textbox6 236s linear  ;
    -webkit-animation: sixth_wqc_textbox6 236s linear  ;
    position: absolute;
    top: -10%;
    left: 30%;
    color: cyan;
    width: 0;
    height: 0;
    font-size: 18px;
    background: blueviolet;
    border-radius: 15px;
    overflow: hidden;
}
#wqc_textbox6 span {
    display: block;
    text-align: center;
    padding: 10px 0 0 0;
}
#wqc_textbox6 span:nth-child(1) {
    font-size: 25px;
    text-align: left;
    padding-bottom: 10px;
}
#seventh {
    width: 100%;
    height:100%;
    position: absolute;
    font-family: "楷体";
    background: lightblue;
    opacity: 0;
    animation: seventh 236s linear  ;
    -webkit-animation: seventh 236s linear  ;
}
#seventh #wqc_textbox7 {
    position: absolute;
    overflow: hidden;
    top:5%;
    left:5%;
}
#wqc_textbox7 span {
    display:block;
    opacity: 0;
    font-size: 15px;
}
#wqc_textbox7 span:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    animation: seventh_span1 236s linear  ;
    -webkit-animation: seventh_span1 236s linear  ;
}
#wqc_textbox7 span:nth-child(2) {
    animation: seventh_span2 236s linear  ;
    -webkit-animation: seventh_span2 236s linear  ;
}
#wqc_textbox7 span:nth-child(3) {
    animation: seventh_span3 236s linear  ;
    -webkit-animation: seventh_span3 236s linear  ;
}
#wqc_textbox7 span:nth-child(4) {
    animation: seventh_span4 236s linear  ;
    -webkit-animation: seventh_span4 236s linear  ;
}
#wqc_textbox7 span:nth-child(5) {
    animation: seventh_span5 236s linear  ;
    -webkit-animation: seventh_span5 236s linear  ;
}
#wqc_textbox7 span:nth-child(6) {
    animation: seventh_span6 236s linear  ;
    -webkit-animation: seventh_span6 236s linear  ;
}
#wqc_textbox7 span:nth-child(7) {
    animation: seventh_span7 236s linear  ;
    -webkit-animation: seventh_span7 236s linear  ;
}
#wqc_textbox7 span:nth-child(8) {
    animation: seventh_span8 236s linear  ;
    -webkit-animation: seventh_span8 236s linear  ;
}
#wqc_textbox7 span:nth-child(9) {
    animation: seventh_span9 236s linear  ;
    -webkit-animation: seventh_span9 236s linear  ;
}
#wqc_textbox7 span:nth-child(10) {
    animation: seventh_span10 236s linear  ;
    -webkit-animation: seventh_span10 236s linear  ;
}
#wqc_textbox7 span:nth-child(11) {
    animation: seventh_span11 236s linear  ;
    -webkit-animation: seventh_span11 236s linear  ;
}
#wqc_textbox7 span:nth-child(12) {
    animation: seventh_span12 236s linear  ;
    -webkit-animation: seventh_span12 236s linear  ;
}
#wqc_textbox7 span:nth-child(13) {
    animation: seventh_span13 236s linear  ;
    -webkit-animation: seventh_span13 236s linear  ;
}
#wqc_textbox7 span:nth-child(14) {
    animation: seventh_span14 236s linear  ;
    -webkit-animation: seventh_span14 236s linear  ;
}
#wqc_textbox7 span:nth-child(15) {
    animation: seventh_span15 236s linear  ;
    -webkit-animation: seventh_span15 236s linear  ;
}
#wqc_textbox7 span:nth-child(16) {
    animation: seventh_span16 236s linear  ;
    -webkit-animation: seventh_span16 236s linear  ;
}
#wqc_textbox7 span:nth-child(17) {
    animation: seventh_span17 236s linear  ;
    -webkit-animation: seventh_span17 236s linear  ;
}
#wqc_textbox7 span:nth-child(18) {
    animation: seventh_span18 236s linear  ;
    -webkit-animation: seventh_span18 236s linear  ;
}
#wqc_textbox7 span:nth-child(19) {
     animation: seventh_span19 236s linear  ;
     -webkit-animation: seventh_span19 236s linear  ;
 }
#wqc_textbox7 span:nth-child(20) {
      animation: seventh_span20 236s linear  ;
      -webkit-animation: seventh_span20 236s linear  ;
  }




#dotted {
    position: absolute;

    top: 82.8%;

    left: 38%;
    animation: seventh_dotted 236s linear  ;
    -webkit-animation: seventh_dotted 236s linear  ;
}
#xian {
    position: absolute;

    top: 82.8%;

    left: 50%;
    animation: seventh_xian 236s linear  ;
    -webkit-animation: seventh_xiannv 236s linear  ;
}
#nv {
    position: absolute;

    top: 82.8%;

    left: 56%;
    animation: seventh_xian 236s linear  ;
    -webkit-animation: seventh_xiannv 236s linear  ;
}
#yue {
    position: absolute;

    top: 80%;

    left: 62%;

    font-size: 30px;
    animation: seventh_yue 236s linear  ;
    -webkit-animation: seventh_yue 236s linear  ;
}
#eighth {
    width:100%;
    height:100%;
    position: absolute;
    font-family: "楷体";
    opacity: 1;
}
#nve_dog {
    width:100%;
    height:100%;
    animation: eighth_wqc_dog 236s linear  ;
    -webkit-animation: eighth_wqc_dog 236s linear  ;
    opacity: 0;
    position: absolute;
}
#eighth #wqc_textbox8 {
    overflow: hidden;
    position: absolute;
    width:100%;
    top:0;
    left:0;
    height:0;
    animation: eighth_wqc_textbox8 236s linear  ;
    -webkit-animation: eighth_wqc_textbox8 236s linear  ;
}
#eighth #wqc_textbox9 {
    overflow: hidden;
    position: absolute;
    width:100%;
    top:100%;
    left:0;
    height:0;
    animation: eighth_wqc_textbox9 236s linear  ;
    -webkit-animation: eighth_wqc_textbox9 236s linear  ;
}
#wqc_textbox8 span {
    display:block;
    font-size: 18px;
    margin-left:10%;
    margin-top:2%;
    opacity: 0;
    color:deeppink;
    font-weight: bold;
    animation: eighth_wqc_span1 236s linear  ;
    -webkit-animation: eighth_wqc_span1 236s linear  ;
}
#wqc_textbox8 span:nth-child(1) {

    margin-top: 0;
    margin-bottom: 3%;
    font-size: 25px;

}
#wqc_textbox9 span {
    display:block;
    font-size: 18px;
    margin-left:10%;
    margin-top:2%;
    opacity: 0;
    color:deeppink;
    font-weight: bold;
    animation: eighth_wqc_span2 236s linear  ;
    -webkit-animation: eighth_wqc_span2 236s linear  ;
}
#wqc_textbox9 span:nth-child(1) {

    margin-top: 0;

}
strong {
    font-size: 25px;
}
#zyx {
    position: absolute;
    top:80%;
    left:15%;
    opacity: 0;
    color:deeppink;
    font-weight: bold;
    animation: eighth_wqc_zyx 236s linear  ;
    -webkit-animation: eighth_wqc_zyx 236s linear  ;
}
#girlfriend {
    position: absolute;
    top:80%;
    left:66%;
    font-size: 25px;
    opacity: 0;
    color:deeppink;
    font-weight: bold;
    animation: eighth_wqc_girlfriend 236s linear  ;
    -webkit-animation: eighth_wqc_girlfriend 236s linear  ;
}
@keyframes third_wqc_textbox3 {
    0%{
        width:87%;
        height:0;
        left:7.5%;
        top:-10px;
        background: #ee9ca7;
    }
    35%{
        width:87%;
        height:0;
        left:7.5%;
        top:-10px;
        background: #ee9ca7;
    }
    35.1%{
        width:87%;
        height:0;
        left:7.5%;
        top:7.5%;
        background: #ee9ca7;
    }
    35.2%{
        width:87%;
        height:0;
        left:7.5%;
        top:7.5%;
        background: blanchedalmond;
    }
    43%{
        width:87%;
        height:87%;
        left:7.5%;
        top:7.5%;
        background: blanchedalmond;
    }
    49.7%{
        width:87%;
        height:87%;
        left:7.5%;
        top:7.5%;
        background: blanchedalmond;
    }
    49.8%{
        width:87%;
        height:0;
        left:7.5%;
        top:7.5%;
        background: #ee9ca7;
    }
    49.9%{
        width:87%;
        height:0;
        left:7.5%;
        top:-10px;
        background: #ee9ca7;
    }
}
@-webkit-keyframes third_wqc_textbox3 {
    0%{
        width:87%;
        height:0;
        left:7.5%;
        top:-10px;
        background: #ee9ca7;
    }
    35%{
        width:87%;
        height:0;
        left:7.5%;
        top:-10px;
        background: #ee9ca7;
    }
    35.1%{
        width:87%;
        height:0;
        left:7.5%;
        top:7.5%;
        background: #ee9ca7;
    }
    35.2%{
        width:87%;
        height:0;
        left:7.5%;
        top:7.5%;
        background: blanchedalmond;
    }
    43%{
        width:87%;
        height:87%;
        left:7.5%;
        top:7.5%;
        background: blanchedalmond;
    }
    49.7%{
        width:87%;
        height:87%;
        left:7.5%;
        top:7.5%;
        background: blanchedalmond;
    }
    49.8%{
        width:87%;
        height:0;
        left:7.5%;
        top:7.5%;
        background: #ee9ca7;
    }
    49.9%{
        width:87%;
        height:0;
        left:7.5%;
        top:-10px;
        background: #ee9ca7;
    }
}
@keyframes fourth_wqc_textbox4 {
    0%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:120%;
        left:40%;
    }
    50%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:120%;
        left:40%;
    }
    51%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:40%;
        left:40%;
    }
    51.2%{
        width:70%;
        height:80%;
        background: hotpink;
        opacity: 1;
        top:10%;
        left:15%;
    }
    55.6%{
        width:70%;
        height:80%;
        background: hotpink;
        opacity: 1;
        top:10%;
        left:15%;
    }
    56%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:40%;
        left:40%;
    }
    57%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:-50px;
        left:40%;
    }
}
@-webkit-keyframes  fourth_wqc_textbox4 {
    0%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:120%;
        left:40%;
    }
    50%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:120%;
        left:40%;
    }
    51%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:40%;
        left:40%;
    }
    51.2%{
        width:70%;
        height:80%;
        background: hotpink;
        opacity: 1;
        top:10%;
        left:15%;
    }
    55.6%{
        width:70%;
        height:80%;
        background: hotpink;
        opacity: 1;
        top:10%;
        left:15%;
    }
    56%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:40%;
        left:40%;
    }
    57%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:-50px;
        left:40%;
    }
}
@keyframes fourth_wqc_span1 {
    0%{
        opacity: 0;
    }
    51.2%{
        opacity: 0;
    }
    51.6%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span1 {
    0%{
        opacity: 0;
    }
    51.2%{
        opacity: 0;
    }
    51.6%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span2 {
    0%{
        opacity: 0;
    }
    51.6%{
        opacity: 0;
    }
    52%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span2 {
    0%{
        opacity: 0;
    }
    51.6%{
        opacity: 0;
    }
    52%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span3 {
    0%{
        opacity: 0;
    }
    52%{
        opacity: 0;
    }
    52.4%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span3 {
    0%{
        opacity: 0;
    }
    52%{
        opacity: 0;
    }
    52.4%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span4 {
    0%{
        opacity: 0;
    }
    52.4%{
        opacity: 0;
    }
    52.8%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span4 {
    0%{
        opacity: 0;
    }
    52.4%{
        opacity: 0;
    }
    52.8%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span5 {
    0%{
        opacity: 0;
    }
    52.8%{
        opacity: 0;
    }
    53.2%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span5 {
    0%{
        opacity: 0;
    }
    52.8%{
        opacity: 0;
    }
    53.2%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span6 {
    0%{
        opacity: 0;
    }
    53.2%{
        opacity: 0;
    }
    53.6%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span6 {
    0%{
        opacity: 0;
    }
    53.2%{
        opacity: 0;
    }
    53.6%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span7 {
    0%{
        opacity: 0;
    }
    53.6%{
        opacity: 0;
    }
    54%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span7 {
    0%{
        opacity: 0;
    }
    53.6%{
        opacity: 0;
    }
    54%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span8 {
    0%{
        opacity: 0;
    }
    54%{
        opacity: 0;
    }
    54.4%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span8 {
    0%{
        opacity: 0;
    }
    54%{
        opacity: 0;
    }
    54.4%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span9 {
    0%{
        opacity: 0;
    }
    54.4%{
        opacity: 0;
    }
    54.6%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span9 {
    0%{
        opacity: 0;
    }
    54.4%{
        opacity: 0;
    }
    54.6%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span10 {
    0%{
        opacity: 0;
    }
    54.6%{
        opacity: 0;
    }
    54.8%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span10 {
    0%{
        opacity: 0;
    }
    54.6%{
        opacity: 0;
    }
    54.8%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fifth_wqc_nav {
    0%{
        height:0;
        top:0;
    }

    57%{
        height:0;
        top:0;
    }
    57.5%{
        height:100%;
        top:0;
    }
    65%{
        height:100%;
        top:0;
    }
    67%{
        height:0;
        top:0;
    }
}
@-webkit-keyframes  fifth_wqc_nav {
    0%{
        height:0;
        top:0;
    }

    57%{
        height:0;
        top:0;
    }
    57.5%{
        height:100%;
        top:0;
    }
    65%{
        height:100%;
        top:0;
    }
    67%{
        height:0;
        top:0;
    }
}
@keyframes fifth_wqc_ball {
    0%{
        top:-20px;
        opacity: 0;
    }
    57.5%{
        top:-20px;
        opacity: 1;
    }
    58%{
        top:16%;
    }
    61%{
        top:16%;
    }
    61.2%{
        top:65%;
    }
    65%{
        top:65%;
        opacity: 1;
    }
    67%{
        top:-20px;
    }
}
@-webkit-keyframes  fifth_wqc_ball {
    0%{
        top:-20px;
        opacity: 0;
    }
    57.5%{
        top:-20px;
        opacity: 1;
    }
    58%{
        top:16%;
    }
    61%{
        top:16%;
    }
    61.2%{
        top:65%;
    }
    65%{
        top:65%;
        opacity: 1;
    }
    67%{
        top:-20px;
    }
}
@keyframes fifth_wqc_flag {
    0%{
        opacity: 0;
        top:14%;
    }
    57.5%{
        opacity: 0;
        top:14%;
    }
    58%{
        opacity: 0;
        top:14%;
    }
    58.2%{
        opacity: 1;
    }
    65%{
        opacity: 1;
        top:14%;
    }
    67%{
        top:-40px;
    }
}
@-webkit-keyframes  fifth_wqc_flag {
    0%{
        opacity: 0;
        top:14%;
    }
    57.5%{
        opacity: 0;
        top:14%;
    }
    58%{
        opacity: 0;
        top:14%;
    }
    58.2%{
        opacity: 1;
    }
    65%{
        opacity: 1;
        top:14%;
    }
    67%{
        top:-40px;
    }
}
@keyframes fifth_wqc_textbox5 {
    0%{
        top:10%;
        width:0;
        height:30%;
    }
    58.2%{
        width:0;
        height:30%;
    }
    59%{
        width:65%;
        height:30%;
    }
    60%{
        width:65%;
        height:30%;
    }
    65%{
        width:65%;
        height:30%;
    }
    67%{
        width:65%;
        height:0;
        top:10%;
    }
    68%{
        height:0;
        top:-10%;
    }
}
@-webkit-keyframes  fifth_wqc_textbox5 {
    0%{
        top:10%;
        width:0;
        height:30%;
    }
    58.2%{
        width:0;
        height:30%;
    }
    59%{
        width:65%;
        height:30%;
    }
    60%{
        width:65%;
        height:30%;
    }
    65%{
        width:65%;
        height:30%;
    }
    67%{
        width:65%;
        height:0;
        top:10%;
    }
    68%{
        height:0;
        top:-10%;
    }
}
@keyframes fifth_wqc_span {
    0%{
        opacity: 0;
    }
    59%{
        opacity: 0;
    }
    59.2%{
        opacity: 1;
    }
    65%{
        opacity: 1;
    }
}
@-webkit-keyframes  fifth_wqc_span {
    0%{
        opacity: 0;
    }
    59%{
        opacity: 0;
    }
    59.2%{
        opacity: 1;
    }
    65%{
        opacity: 1;
    }
}
@keyframes sixth_wqc_flag {
    0%{
        opacity: 0;
        top:63%;
    }
    61.2%{
        opacity: 0;
        top:63%;
    }
    61.4%{
        opacity: 1;
        top:63%;
    }
    65%{
        opacity: 1;
        top:63%;
    }
    67%{
        top:-40px;
    }
}
@-webkit-keyframes  sixth_wqc_flag {
    0%{
        opacity: 0;
        top:63%;
    }
    61.2%{
        opacity: 0;
        top:63%;
    }
    61.4%{
        opacity: 1;
        top:63%;
    }
    65%{
        opacity: 1;
        top:63%;
    }
    67%{
        top:-40px;
    }
}
@keyframes sixth_wqc_textbox6 {
    0%{
        top:45%;
        width:65%;
        height:0;
    }
    61.4%{
        top:45%;
        width:65%;
        height:0;
    }
    63%{
        top:45%;
        width:65%;
        height:50%;
    }
    65%{
        top:45%;
        width:65%;
        height:50%;
    }
    67%{
        width:65%;
        height:0;
        top:45%;
    }
    68%{
        height: 0;
        top:-10%;
    }
}
@-webkit-keyframes  sixth_wqc_textbox6 {
    0%{
        top:45%;
        width:65%;
        height:0;
    }
    61.4%{
        top:45%;
        width:65%;
        height:0;
    }
    63%{
        top:45%;
        width:65%;
        height:50%;
    }
    65%{
        top:45%;
        width:65%;
        height:50%;
    }
    67%{
        width:65%;
        height:0;
        top:45%;
    }
    68%{
        height: 0;
        top:-10%;
    }
}
@keyframes seventh {
    0%{
        opacity: 0;
    }
    68%{
        opacity: 0;
    }
    68.5%{
        opacity: 0;
    }
    69%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh {
    0%{
        opacity: 0;
    }
    68%{
        opacity: 0;
    }
    68.5%{
        opacity: 0;
    }
    69%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span1 {
    0%{
        opacity: 0;
    }
    69%{
        opacity: 0;
    }
    69.8%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span1 {
    0%{
        opacity: 0;
    }
    69%{
        opacity: 0;
    }
    69.8%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span2 {
    0%{
        opacity: 0;
    }
    69.8%{
        opacity: 0;
    }
    70.6%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span2 {
    0%{
        opacity: 0;
    }
    69.8%{
        opacity: 0;
    }
    70.6%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span3 {
    0%{
        opacity: 0;
    }
    70.6%{
        opacity: 0;
    }
    71.4%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span3 {
    0%{
        opacity: 0;
    }
    70.6%{
        opacity: 0;
    }
    71.4%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span4 {
    0%{
        opacity: 0;
    }
    71.4%{
        opacity: 0;
    }
    72.2%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span4 {
    0%{
        opacity: 0;
    }
    71.4%{
        opacity: 0;
    }
    72.2%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span5 {
    0%{
        opacity: 0;
    }
    72.2%{
        opacity: 0;
    }
    73%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span5 {
    0%{
        opacity: 0;
    }
    72.2%{
        opacity: 0;
    }
    73%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span6 {
    0%{
        opacity: 0;
    }
    73%{
        opacity: 0;
    }
    73.8%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span6 {
    0%{
        opacity: 0;
    }
    73%{
        opacity: 0;
    }
    73.8%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span6 {
    0%{
        opacity: 0;
    }
    73.8%{
        opacity: 0;
    }
    74.6%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span6 {
    0%{
        opacity: 0;
    }
    73.8%{
        opacity: 0;
    }
    74.6%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span7 {
    0%{
        opacity: 0;
    }
    74.6%{
        opacity: 0;
    }
    75.4%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span7 {
    0%{
        opacity: 0;
    }
    74.6%{
        opacity: 0;
    }
    75.4%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span8 {
    0%{
        opacity: 0;
    }
    75.4%{
        opacity: 0;
    }
    76.2%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span8 {
    0%{
        opacity: 0;
    }
    75.4%{
        opacity: 0;
    }
    76.2%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span9 {
    0%{
        opacity: 0;
    }
    76.2%{
        opacity: 0;
    }
    77%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span9 {
    0%{
        opacity: 0;
    }
    76.2%{
        opacity: 0;
    }
    77%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span10 {
    0%{
        opacity: 0;
    }
    77%{
        opacity: 0;
    }
    77.8%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span10 {
    0%{
        opacity: 0;
    }
    77%{
        opacity: 0;
    }
    77.8%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span11 {
    0%{
        opacity: 0;
    }
    77.8%{
        opacity: 0;
    }
    78.6%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span11 {
    0%{
        opacity: 0;
    }
    77.8%{
        opacity: 0;
    }
    78.6%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span12 {
    0%{
        opacity: 0;
    }
    78.6%{
        opacity: 0;
    }
    79.4%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span12 {
    0%{
        opacity: 0;
    }
    78.6%{
        opacity: 0;
    }
    79.4%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span13 {
    0%{
        opacity: 0;
    }
    79.4%{
        opacity: 0;
    }
    80.2%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span13 {
    0%{
        opacity: 0;
    }
    79.4%{
        opacity: 0;
    }
    80.2%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span14 {
    0%{
        opacity: 0;
    }
    80.2%{
        opacity: 0;
    }
    81%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span14 {
    0%{
        opacity: 0;
    }
    80.2%{
        opacity: 0;
    }
    81%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span15 {
    0%{
        opacity: 0;
    }
    81%{
        opacity: 0;
    }
    81.8%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span15 {
    0%{
        opacity: 0;
    }
    81%{
        opacity: 0;
    }
    81.8%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span16 {
    0%{
        opacity: 0;
    }
    81.8%{
        opacity: 0;
    }
    82.6%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span16 {
    0%{
        opacity: 0;
    }
    81.8%{
        opacity: 0;
    }
    82.6%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span17 {
    0%{
        opacity: 0;
    }
    82.6%{
        opacity: 0;
    }
    83.4%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span17 {
    0%{
        opacity: 0;
    }
    82.6%{
        opacity: 0;
    }
    83.4%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span18 {
    0%{
        opacity: 0;
    }
    83.4%{
        opacity: 0;
    }
    84.2%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span18 {
    0%{
        opacity: 0;
    }
    83.4%{
        opacity: 0;
    }
    84.2%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_span19 {
    0%{
        opacity: 0;
    }
    84.2%{
        opacity: 0;
    }
    85%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_span19 {
    0%{
        opacity: 0;
    }
    84.2%{
        opacity: 0;
    }
    85%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_dotted {
    0%{
        opacity: 0;
    }
    85%{
        opacity: 0;
    }
    85.4%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_dotted {
    0%{
        opacity: 0;
    }
    85%{
        opacity: 0;
    }
    85.4%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_xiannv {
    0%{
        opacity: 0;
    }
    85.4%{
        opacity: 0;
    }
    86%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_xiannv {
    0%{
        opacity: 0;
    }
    85.4%{
        opacity: 0;
    }
    86%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes seventh_yue {
    0%{
        opacity: 0;
    }
    86%{
        opacity: 0;
    }
    86.8%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@-webkit-keyframes  seventh_yue {
    0%{
        opacity: 0;
    }
    86%{
        opacity: 0;
    }
    86.8%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
88%{
        opacity:0;
}
}
@keyframes eighth_wqc_dog {
    0%{
        opacity: 0;
    }
    88%{
        opacity:0;
    }
    89%{
        opacity: 1;
    }
    98%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
}
@-webkit-keyframes  eighth_wqc_dog {
    0%{
        opacity: 0;
    }
    88%{
        opacity:0;
    }
    89%{
        opacity: 1;
    }
    98%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
}
@keyframes eighth_wqc_textbox8 {
    0%{
        height:0;
    }
    88%{
        height:0;
    }
    89%{
        height:50%;
    }
    98%{
        height:50%;
        /*background: pink;*/
    }
    99%{
        /*background: indigo;*/
        height:50%;
    }
    100%{
        /*background: indigo;*/
        height:0;
    }
}
@-webkit-keyframes  eighth_wqc_textbox8 {
    0%{
        height:0;
    }
    88%{
        height:0;
    }
    89%{
        height:50%;
    }
    98%{
        height:50%;
        /*background: pink;*/
    }
    99%{
        /*background: indigo;*/
        height:50%;
    }
    100%{
        /*background: indigo;*/
        height:0;
    }
}
@keyframes eighth_wqc_textbox9 {
    0%{
        height:0;
        top:100%;
    }
    88%{
        top:100%;
        height:0;
    }
    89%{
        top:50%;
        height:50%;
    }
    98%{
        height:50%;
        top:50%;
       /* background:pink;*/
    }
    99%{
        /*background:indigo;*/
        top:50%;
        height:100%;
    }
    100%{
       /* background:indigo;*/
        top:100%;
        height:0;
    }
}
@-webkit-keyframes  eighth_wqc_textbox9 {
    0%{
        height:0;
        top:100%;
    }
    88%{
        top:100%;
        height:0;
    }
    89%{
        top:50%;
        height:50%;
    }
    98%{
        height:50%;
        top:50%;
        /* background:pink;*/
    }
    99%{
        /*background:indigo;*/
        top:50%;
        height:100%;
    }
    100%{
        /* background:indigo;*/
        top:100%;
        height:0;
    }
}
@keyframes eighth_wqc_span1 {
    0%{
        opacity: 0;
    }
    89%{
        opacity: 0;
    }
    91%{
        opacity: 1;
    }
    97%{
        opacity: 1;
    }
    98%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@-webkit-keyframes  eighth_wqc_span1 {
    0%{
        opacity: 0;
    }
    89%{
        opacity: 0;
    }
    91%{
        opacity: 1;
    }
    97%{
        opacity: 1;
    }
    98%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes eighth_wqc_span2 {
    0%{
        opacity: 0;
    }
    91%{
        opacity: 0;
    }
    92%{
        opacity: 1;
    }
    97%{
        opacity: 1;
    }
    98%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@-webkit-keyframes  eighth_wqc_span2 {
    0%{
        opacity: 0;
    }
    91%{
        opacity: 0;
    }
    92%{
        opacity: 1;
    }
    97%{
        opacity: 1;
    }
    98%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes eighth_wqc_zyx {
    0%{
        opacity: 0;
    }
    93%{
        opacity: 0;
    }
    94%{
        opacity: 1;
    }
    97%{
        opacity: 1;
    }
    98%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@-webkit-keyframes  eighth_wqc_zyx {
    0%{
        opacity: 0;
    }
    93%{
        opacity: 0;
    }
    94%{
        opacity: 1;
    }
    97%{
        opacity: 1;
    }
    98%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes eighth_wqc_girlfriend {
    0%{
        opacity: 0;
    }
    94%{
        opacity: 0;
    }
    96%{
        opacity: 1;
    }
    97%{
        opacity: 1;
    }
    98%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@-webkit-keyframes  eighth_wqc_girlfriend {
    0%{
        opacity: 0;
    }
    94%{
        opacity: 0;
    }
    96%{
        opacity: 1;
    }
    97%{
        opacity: 1;
    }
    98%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}