#third {
    width: 100%;
    height:100%;
    position: absolute;
}
#third #wqc_textbox3 {
    width: 85%;

    height: 0;

    position: absolute;

    font-size: 13px;

    top: -10px;

    left: 7.5%;

    background: #ee9ca7;

    color: brown;

    font-family:"Microsoft YaHei";

    border-radius: 10px;

    border-style: dashed;
    border-width: 1px;

    border-color: #ee9ca7;
    animation: third_wqc_textbox3 236s ease infinite;
    -webkit-animation: third_wqc_textbox3 236s ease infinite;
    overflow: hidden;
    z-index: 0;

}
#wqc_textbox3 span {
    display: block;
    padding: 3px 0 0 10px;
}
#fourth {
    width: 100%;
    height:100%;
    position: absolute;
}
#wqc_textbox4 {
    position: absolute;
    top:-50px;
    left:40%;
    width:30px;
    height:30px;
    overflow: hidden;
    background: hotpink;

    border-radius: 10px;
    animation: fourth_wqc_textbox4 236s ease infinite;
    -webkit-animation: fourth_wqc_textbox4 236s ease infinite;

}
#wqc_textbox4 span {
    display: block;
    opacity: 0;
    color:darkred;
    padding: 10px 0 5px 30px;
}
#wqc_textbox4 span:nth-child(1) {
    padding: 0 0 5px 0;
    font-size: 30px;
    animation: fourth_wqc_span1 236s ease infinite;
    -webkit-animation: fourth_wqc_span1 236s ease infinite;
}
#wqc_textbox4 span:nth-child(2) {
    animation: fourth_wqc_span2 236s ease infinite;
    -webkit-animation: fourth_wqc_span2 236s ease infinite;
}
#wqc_textbox4 span:nth-child(3) {
    animation: fourth_wqc_span3 236s ease infinite;
    -webkit-animation: fourth_wqc_span3 236s ease infinite;
}
#wqc_textbox4 span:nth-child(4) {
    animation: fourth_wqc_span4 236s ease infinite;
    -webkit-animation: fourth_wqc_span4 236s ease infinite;
}
#wqc_textbox4 span:nth-child(5) {
    animation: fourth_wqc_span5 236s ease infinite;
    -webkit-animation: fourth_wqc_span5 236s ease infinite;
}
#wqc_textbox4 span:nth-child(6) {
    animation: fourth_wqc_span6 236s ease infinite;
    -webkit-animation: fourth_wqc_span6 236s ease infinite;
}
#wqc_textbox4 span:nth-child(7) {
    animation: fourth_wqc_span7 236s ease infinite;
    -webkit-animation: fourth_wqc_span7 236s ease infinite;
}
#wqc_textbox4 span:nth-child(8) {
    animation: fourth_wqc_span8 236s ease infinite;
    -webkit-animation: fourth_wqc_span8 236s ease infinite;
}
#wqc_textbox4 span:nth-child(9) {
    animation: fourth_wqc_span9 236s ease infinite;
    -webkit-animation: fourth_wqc_span9 236s ease infinite;
}
#wqc_textbox4 span:nth-child(10) {
    animation: fourth_wqc_span10 236s ease infinite;
    -webkit-animation: fourth_wqc_span10 236s ease infinite;
}
#fifth {
    width: 100%;
    height:100%;
    position: absolute;
}
#fifth .ball {
    animation: fifth_wqc_ball 236s ease infinite;
    -webkit-animation: fifth_wqc_ball 236s ease infinite;
}
#fifth .nav {
    animation: fifth_wqc_nav 236s ease infinite;
    -webkit-animation: fifth_wqc_nav 236s ease infinite;
}
#fifth .flag {
    animation: fifth_wqc_flag 236s ease infinite;
    -webkit-animation: fifth_wqc_flag 236s ease infinite;
    border-right: 22px solid cyan;
}
#fifth #wqc_textbox5 {

    animation: fifth_wqc_textbox5 236s ease infinite;
    -webkit-animation: fifth_wqc_textbox5 236s ease infinite;
    position: absolute;
    top: -10%;
    left: 30%;
    color: cyan;
    width: 0;
    height: 0;
    font-size: 18px;
    background: blueviolet;
    border-radius: 15px;
    overflow: hidden;
}
#wqc_textbox5 span {
    display: block;
    padding: 10px 0 0 5px;
    text-align: center;
    opacity: 0;
    animation: fifth_wqc_span 236s linear infinite;
    -webkit-animation: fifth_wqc_span 236s linear infinite;
}
#wqc_textbox5 span:nth-child(1) {
    font-size: 20px;
    text-align: left;
    padding: 0 0 0 5px;
}
#sixth {
    width: 100%;
    height:100%;
    position: absolute;
}
#sixth .flag {
    animation: sixth_wqc_flag 236s ease infinite;
    -webkit-animation: sixth_wqc_flag 236s ease infinite;
    border-right: 22px solid cyan;
}
#sixth #wqc_txetbox6 {
    animation: sixth_wqc_textbox6 236s linear infinite;
    -webkit-animation: sixth_wqc_textbox6 236s linear infinite;
    position: absolute;
    top: -10%;
    left: 30%;
    color: cyan;
    width: 0;
    height: 0;
    font-size: 18px;
    background: blueviolet;
    border-radius: 15px;
    overflow: hidden;
}
@keyframes third_wqc_textbox3 {
    0%{
        width:85%;
        height:0;
        left:7.5%;
        top:-10px;
        background: #ee9ca7;
    }
    35%{
        width:85%;
        height:0;
        left:7.5%;
        top:-10px;
        background: #ee9ca7;
    }
    35.1%{
        width:85%;
        height:0;
        left:7.5%;
        top:7.5%;
        background: #ee9ca7;
    }
    35.2%{
        width:85%;
        height:0;
        left:7.5%;
        top:7.5%;
        background: blanchedalmond;
    }
    43%{
        width:85%;
        height:87%;
        left:7.5%;
        top:7.5%;
        background: blanchedalmond;
    }
    49.7%{
        width:85%;
        height:87%;
        left:7.5%;
        top:7.5%;
        background: blanchedalmond;
    }
    49.8%{
        width:85%;
        height:0;
        left:7.5%;
        top:7.5%;
        background: #ee9ca7;
    }
    49.9%{
        width:85%;
        height:0;
        left:7.5%;
        top:-10px;
        background: #ee9ca7;
    }
}
@-webkit-keyframes third_wqc_textbox3 {
    0%{
        width:85%;
        height:0;
        left:7.5%;
        top:-10px;
        background: #ee9ca7;
    }
    35%{
        width:85%;
        height:0;
        left:7.5%;
        top:-10px;
        background: #ee9ca7;
    }
    35.1%{
        width:85%;
        height:0;
        left:7.5%;
        top:7.5%;
        background: #ee9ca7;
    }
    35.2%{
        width:85%;
        height:0;
        left:7.5%;
        top:7.5%;
        background: blanchedalmond;
    }
    43%{
        width:85%;
        height:87%;
        left:7.5%;
        top:7.5%;
        background: blanchedalmond;
    }
    49.7%{
        width:85%;
        height:87%;
        left:7.5%;
        top:7.5%;
        background: blanchedalmond;
    }
    49.8%{
        width:85%;
        height:0;
        left:7.5%;
        top:7.5%;
        background: #ee9ca7;
    }
    49.9%{
        width:85%;
        height:0;
        left:7.5%;
        top:-10px;
        background: #ee9ca7;
    }
}
@keyframes fourth_wqc_textbox4 {
    0%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:120%;
        left:40%;
    }
    50%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:120%;
        left:40%;
    }
    51%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:40%;
        left:40%;
    }
    51.2%{
        width:70%;
        height:80%;
        background: hotpink;
        opacity: 1;
        top:10%;
        left:15%;
    }
    55.6%{
        width:70%;
        height:80%;
        background: hotpink;
        opacity: 1;
        top:10%;
        left:15%;
    }
    56%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:40%;
        left:40%;
    }
    57%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:-50px;
        left:40%;
    }
}
@-webkit-keyframes  fourth_wqc_textbox4 {
    0%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:120%;
        left:40%;
    }
    50%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:120%;
        left:40%;
    }
    51%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:40%;
        left:40%;
    }
    51.2%{
        width:70%;
        height:80%;
        background: hotpink;
        opacity: 1;
        top:10%;
        left:15%;
    }
    55.6%{
        width:70%;
        height:80%;
        background: hotpink;
        opacity: 1;
        top:10%;
        left:15%;
    }
    56%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:40%;
        left:40%;
    }
    57%{
        width:30px;
        height:30px;
        background: white;
        opacity: 0.4;
        top:-50px;
        left:40%;
    }
}
@keyframes fourth_wqc_span1 {
    0%{
        opacity: 0;
    }
    51.2%{
        opacity: 0;
    }
    51.6%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span1 {
    0%{
        opacity: 0;
    }
    51.2%{
        opacity: 0;
    }
    51.6%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span2 {
    0%{
        opacity: 0;
    }
    51.6%{
        opacity: 0;
    }
    52%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span2 {
    0%{
        opacity: 0;
    }
    51.6%{
        opacity: 0;
    }
    52%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span3 {
    0%{
        opacity: 0;
    }
    52%{
        opacity: 0;
    }
    52.4%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span3 {
    0%{
        opacity: 0;
    }
    52%{
        opacity: 0;
    }
    52.4%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span4 {
    0%{
        opacity: 0;
    }
    52.4%{
        opacity: 0;
    }
    52.8%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span4 {
    0%{
        opacity: 0;
    }
    52.4%{
        opacity: 0;
    }
    52.8%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span5 {
    0%{
        opacity: 0;
    }
    52.8%{
        opacity: 0;
    }
    53.2%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span5 {
    0%{
        opacity: 0;
    }
    52.8%{
        opacity: 0;
    }
    53.2%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span6 {
    0%{
        opacity: 0;
    }
    53.2%{
        opacity: 0;
    }
    53.6%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span6 {
    0%{
        opacity: 0;
    }
    53.2%{
        opacity: 0;
    }
    53.6%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span7 {
    0%{
        opacity: 0;
    }
    53.6%{
        opacity: 0;
    }
    54%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span7 {
    0%{
        opacity: 0;
    }
    53.6%{
        opacity: 0;
    }
    54%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span8 {
    0%{
        opacity: 0;
    }
    54%{
        opacity: 0;
    }
    54.4%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span8 {
    0%{
        opacity: 0;
    }
    54%{
        opacity: 0;
    }
    54.4%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span9 {
    0%{
        opacity: 0;
    }
    54.4%{
        opacity: 0;
    }
    54.6%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span9 {
    0%{
        opacity: 0;
    }
    54.4%{
        opacity: 0;
    }
    54.6%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fourth_wqc_span10 {
    0%{
        opacity: 0;
    }
    54.6%{
        opacity: 0;
    }
    54.8%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@-webkit-keyframes  fourth_wqc_span10 {
    0%{
        opacity: 0;
    }
    54.6%{
        opacity: 0;
    }
    54.8%{
        opacity: 1;
    }
    55.3%{
        opacity: 1;
    }
    55.4%{
        opacity: 0;
    }
}
@keyframes fifth_wqc_nav {
    0%{
        height:0;
        top:0;
    }

    57%{
        height:0;
        top:0;
    }
    57.5%{
        height:100%;
        top:0;
    }
    65%{
        height:100%;
        top:0;
    }
    67%{
        height:0;
        top:0;
    }
}
@-webkit-keyframes  fifth_wqc_nav {
    0%{
        height:0;
        top:0;
    }

    57%{
        height:0;
        top:0;
    }
    57.5%{
        height:100%;
        top:0;
    }
    65%{
        height:100%;
        top:0;
    }
    67%{
        height:0;
        top:0;
    }
}
@keyframes fifth_wqc_ball {
    0%{
        top:-20px;
        opacity: 0;
    }
    57.5%{
        top:-20px;
        opacity: 1;
    }
    58%{
        top:16%;
    }
    61%{
        top:16%;
    }
    61.2%{
        top:65%;
    }
    65%{
        top:65%;
        opacity: 1;
    }
    67%{
        top:-20px;
    }
}
@-webkit-keyframes  fifth_wqc_ball {
    0%{
        top:-20px;
        opacity: 0;
    }
    57.5%{
        top:-20px;
        opacity: 1;
    }
    58%{
        top:16%;
    }
    61%{
        top:16%;
    }
    61.2%{
        top:65%;
    }
    65%{
        top:65%;
        opacity: 1;
    }
    67%{
        top:-20px;
    }
}
@keyframes fifth_wqc_flag {
    0%{
        opacity: 0;
        top:14%;
    }
    57.5%{
        opacity: 0;
        top:14%;
    }
    58%{
        opacity: 0;
        top:14%;
    }
    58.2%{
        opacity: 1;
    }
    65%{
        opacity: 1;
        top:14%;
    }
    67%{
        top:-40px;
    }
}
@-webkit-keyframes  fifth_wqc_flag {
    0%{
        opacity: 0;
        top:14%;
    }
    57.5%{
        opacity: 0;
        top:14%;
    }
    58%{
        opacity: 0;
        top:14%;
    }
    58.2%{
        opacity: 1;
    }
    65%{
        opacity: 1;
        top:14%;
    }
    67%{
        top:-40px;
    }
}
@keyframes fifth_wqc_textbox5 {
    0%{
        top:10%;
        width:0;
        height:30%;
    }
    58.2%{
        width:0;
        height:30%;
    }
    59%{
        width:65%;
        height:30%;
    }
    60%{
        width:65%;
        height:30%;
    }
    65%{
        width:65%;
        height:30%;
    }
    67%{
        width:65%;
        height:0;
        top:10%;
    }
    68%{
        height:0;
        top:-10%;
    }
}
@-webkit-keyframes  fifth_wqc_textbox5 {
    0%{
        top:10%;
        width:0;
        height:30%;
    }
    58.2%{
        width:0;
        height:30%;
    }
    59%{
        width:65%;
        height:30%;
    }
    60%{
        width:65%;
        height:30%;
    }
    65%{
        width:65%;
        height:30%;
    }
    67%{
        width:65%;
        height:0;
        top:10%;
    }
    68%{
        height:0;
        top:-10%;
    }
}
@keyframes fifth_wqc_span {
    0%{
        opacity: 0;
    }
    59%{
        opacity: 0;
    }
    59.2%{
        opacity: 1;
    }
    65%{
        opacity: 1;
    }
}
@-webkit-keyframes  fifth_wqc_span {
    0%{
        opacity: 0;
    }
    59%{
        opacity: 0;
    }
    59.2%{
        opacity: 1;
    }
    65%{
        opacity: 1;
    }
}
@keyframes sixth_wqc_flag {
    0%{
        opacity: 0;
        top:63%;
    }
    61.2%{
        opacity: 0;
        top:63%;
    }
    61.4%{
        opacity: 1;
        top:63%;
    }
    65%{
        opacity: 1;
        top:63%;
    }
    67%{
        top:-40px;
    }
}
@-webkit-keyframes  sixth_wqc_flag {
    0%{
        opacity: 0;
        top:63%;
    }
    61.2%{
        opacity: 0;
        top:63%;
    }
    61.4%{
        opacity: 1;
        top:63%;
    }
    65%{
        opacity: 1;
        top:63%;
    }
    67%{
        top:-40px;
    }
}
@keyframes sixth_wqc_textbox6 {
    0%{
        top:45%;
        width:65%;
        height:0;
    }
    61.4%{
        top:45%;
        width:65%;
        height:0;
    }
    63%{
        top:45%;
        width:65%;
        height:50%;
    }
    65%{
        top:45%;
        width:65%;
        height:50%;
    }
    67%{
        width:65%;
        height:0;
        top:45%;
    }
    68%{
        height: 0;
        top:-10%;
    }
}
@-webkit-keyframes  sixth_wqc_textbox6 {
    0%{
        top:45%;
        width:65%;
        height:0;
    }
    61.4%{
        top:45%;
        width:65%;
        height:0;
    }
    63%{
        top:45%;
        width:65%;
        height:50%;
    }
    65%{
        top:45%;
        width:65%;
        height:50%;
    }
    67%{
        width:65%;
        height:0;
        top:45%;
    }
    68%{
        height: 0;
        top:-10%;
    }
}